<div class="banner mb-3" style="background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1>Costumizer</h1>
    <h2>Be whoever you want, whenever you want</h2>
  </div>
</div>

<div>
  <h3> Bienvenue sur la page index des costumes </h3>
  <div class="row d-flex justify-content-between">
    <% @costumes.each do |costume| %>
       <%# if costume.available? %>
        <%= link_to costume_path(costume), class:"text-decoration-none" do%>
          <div class="card-trip col-4 p-1">
            <%# image à mettre %>
            <div class="card-trip-infos">
              <div>
                <h2> <%= "#{costume.name} #{costume.price}€" %></h2>
                <h2> <%= costume.description %> </h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<%# si le user veut mettre un costume en location %>
<%  if current_user %>
<%= link_to "mettre un costume en location",new_costume_path %>
<% end %>
