<div class="banner mb-3" style="background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1>Costumizer</h1>
    <h2>Be whoever you want, whenever you want</h2>
  </div>
</div>

<div class="container mt-4">

  <div class="d-flex mb-4">
    <h2 class="p-2 w-100 text-center">All costumes</h2>
  </div>


  <div class="cards">
    <% @costumes.each do |costume| %>
      <% if costume.user != current_user %>
        <%= link_to costume_path(costume), class:"text-decoration-none" do%>
          <div class="card-trip-index">
            <% if costume.images.attached? %>
              <%= cl_image_tag costume.images.first.key, crop: :fill  %>
            <% end %>
            <div class="card-trip-infos-index">
              <div>
                <h2> <%= "#{costume.name}" %></h2>
              </div>
                <h2 class="card-trip-pricing-index"> <%= "#{costume.price}€" %> </h2>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
