.page-content {
  margin-top: 100px;
}

.rubrik {
  font-weight: 600px;
  background: linear-gradient(90deg, #5271ff, transparent) #212f6e;
  color: #f4f4f4;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  border-radius: 50px;
}
