.btn-ghost {
  color: #4A4A4A;
  padding: auto 10px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-nav {
  background:#ffffff;
  color: #5370ff;
  font-weight: 500;
  border-radius: 55px;
  padding: 10px;
  transition: 0.4s;
  text-decoration: none;
  margin: 10px;
  box-shadow: 0 0 15px rgba(150, 149, 149, 0.2);

}

.btn-nav:hover {
  color: white;
  background:  #3347a1;
}

.btn-nav.nav-link {
  padding: 10px 30px !important;
}

.btn-classic {
  color:#5271ff;
  font-weight: 500;
  background: white;
  margin: 10px;
  border-radius: 50px;
  
}
